<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <!-- html. 반드시 id가 app인 태그 안에서 작업 -->
        <!-- (script 맨 하단 app.mount('#app'); 여기 아이디와 같아야 함) -->
        <!-- <div>
            아이디 : <input v-model="userId"> 
            <div v-if="userId != ''" style="margin-left: 60px;">
                <span v-if="userId.length < 4" style="font-size: 8px ;color:red;">아이디는 5글자 이상</span>
                <span v-else style="font-size: 8px ;color:blue;">사용 가능</span>
            </div>
        </div> -->
        <div style="height: 30px;">
            <span v-if="sum != ''"> 결과 : {{sum}} </span>
        </div>
        <hr>
        <div>
            숫자 1 : <input type="text" v-model="num1">
        </div>
        <div>
            숫자 2 : <input type="text" v-model="num2">
        </div>
        <div>
            <button @click="fnSum()">더하기</button>
            <button @click="fnReset()">초기화</button>
        </div>
    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                sum : "",
                num1 : "", // 숫자1
                num2 : "", //  숫자2
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnSum : function(){
                let self = this; // vue에서 ajax 사용할 때는 self로 변경.
                self.sum = parseInt(self.num1) + Number(self.num2);
        },
            fnReset : function(){
                let self = this;
                self.num1 = "";
                self.num2 = "";
                self.sum = "";
         }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
        }
    });

    app.mount('#app');
</script>